body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
.chart {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bar {

}
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 0.25em;
  flex:1;
  flex-flow: row wrap;
}
.rgb-input {
  padding: .75em 0em;
}
.rgb-input > .row-field {
  width: 10%;
}
.row-label {
  background-color: rgba(147,128,108,.1);
}
.color-input {
  border: none;
  font-size: 1em;
  width: 100%;
}
.row-label:first-child, .row-field:first-child {
  border-radius: 2px 0 0 2px;
}
.row-label, .row-field {
  border: 1px solid rgba(147,128,108,.25);
  border: 1px solid rgba(147,128,108);
  padding: .75em;
  margin: 0;
}
.row-label:not(:first-child), 
.row-field:not(:first-child){
  border-left: 0;
}
.row-label:last-child, .row-field:last-child {
  border-radius: 0 2px 2px 0;
}
.color-label {
  
  text-align: right;
  width: 10%;
  order: 1;
}
.range-input {
  width: 50%;
  order: 2;
}
.percent-label {
  width: 10%;
  order: 3;
}
input[type="range"] {
  width: 95%;
  margin: 0 auto;
}
.red {
  background-color: rgba(230,0,0,.5);
}
.green {
  background-color: rgba(0,230,0,.5);
}
.blue {
  background-color: rgba(0,0,230,.5);
}