<div class="row rgb-input">
  <span class="row-field">
    <input class="color-input" min="0" max="255" value={{colors.red}}> 
  </span>
   <span class="row-field">
    <input class="color-input" min="0" max="255" value={{colors.green}}> 
  </span>
   <span class="row-field">
    <input class="color-input" min="0" max="255" value={{colors.blue}}> 
  </span>
  <span class="row-label">
    {{hex(Math.round(colors.red), Math.round(colors.green), Math.round(colors.blue))}} 
  </span>
</div>

<div class="row">
  <label class="red row-label color-label" for="redRange">Red </label>
  <span class="row-field range-input">
    <input name="rval" id="redRange" type="range"
      min="0" max="255" value={{colors.red}}> 
  </span>
  <span class="row-label percent-label">
    {{Math.round(colors.red * (100/255))}}%
  </span>
</div>

<div class="row">
  <label class="green row-label color-label" for="greenRange">Green </label>
  <span class="row-field range-input">
    <input name="rval" id="greenRange" type="range"
      min="0" max="255" value={{colors.green}}> 
  </span>
  <span class="row-label percent-label">
    {{Math.round(colors.green * (100/255))}}%
  </span>
</div>

<div class="row">
  <label class="blue row-label color-label" for="blueRange">Blue </label>
  <span class="row-field range-input">
    <input name="bval" id="blueRange" type="range" 
      min="0" max="255" value={{colors.blue}}> 
  </span>
  <span class="row-label percent-label">
    {{Math.round(colors.blue * (100/255))}}%
  </span>
</div>
<span class="row">
<div class="chart" style="background-color: 
  rgb({{Math.round(colors.red)}},
  {{Math.round(colors.green)}},
  {{Math.round(colors.blue)}})">
  <div class="bar" 
       style='background-color: #{{hex(colors.red)}}0000;
              width: {{colors.red * (100/255)}}%;' >
    {{colors.red * (100/255)}}
  </div>
  <div class="bar" 
       style='background-color: #00{{hex(colors.green)}}00;
              width: {{colors.green * (100/255)}}%;'>
    {{colors.green * (100/255)}}
  </div>
  <div class="bar" 
       style='background-color: #0000{{hex(colors.blue)}};
              width: {{colors.blue * (100/255)}}%;'>
    {{colors.blue * (100/255)}}
  </div>
</div>
</span>